<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="../style/css/index.css">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="frame">-->
<!--    <div class="container">-->
<!--        <h1 id="title">e-Sor</h1>-->
<!--        <div class="bar">-->
<!--            <a href="myprofile.html"><button id="my-profile">My profile</button></a>-->
<!--            <a href="login.html"><button id="login">Log me</button></a>-->
<!--            <a href="report.html"><button id="report">Report to the emergency room</button></a>-->
<!--            <button id="log-out">Log out</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    <script src="../application/index.js"></script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/css/index.css">
    <title>e-Sor</title>
</head>
<body>
<div class="frame">
    <div class="container">
        <h1 id="title">e-Sor</h1>
        <div class="bar">
            <a href="myprofile.html"><button id="my-profile" style="display: none;">My profile</button></a>
            <a href="login.html"><button id="login" style="display: none;">Log me</button></a>
            <a href="register.html"><button id="register" style="display: none;">Register</button></a>
            <a href="report.html"><button id="report" style="display: none;">Report to the emergency room</button></a>
            <button id="log-out" style="display: none;">Log out</button>
        </div>
    </div>
</div>
<script src="../application/index.js"></script>
</body>
</html>
