<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/myprofile.css">
    <title>My Profile</title>
    <style>
        .error {
            color: red;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <a href="../templates/index.html"><button id="main">e-SOR</button></a>
    <div id="profileSection">
        <h1>My Profile</h1>
        <p><strong>Name:</strong> <span id="name"></span></p>
        <p><strong>Surname:</strong> <span id="surname"></span></p>
        <p><strong>Date of Birth:</strong> <span id="date_of_birth"></span></p>
        <p><strong>Phone Number:</strong> <span id="phone_number"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Pesel number:</strong> <span id="pesel_number"></span></p>
<!--        <h2>Medical History</h2>-->
<!--        <div id="medicalHistory"></div>-->
<!--        <h2>Facility Information</h2>-->
<!--        <div id="facility" class="hidden">-->
<!--            <p><strong>Name:</strong> <span id="facility_name"></span></p>-->
<!--            <p><strong>Phone:</strong> <span id="facility_phone"></span></p>-->
<!--            <p><strong>Address:</strong> <span id="facility_address"></span></p>-->
<!--        </div>-->
<!--        <h2>Confirmation Tokens</h2>-->
<!--        <div id="confirmationTokens"></div>-->
    </div>

    <script src="../application/myprofile.js"></script>
</body>
</html>
