<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/queue.css">
    <title>Queue</title>
</head>
<body>
<a href="../templates/index.html">
    <button id="main">e-SOR</button>
</a>
<div id="frame">
    <div id="queue-section">
        <h1>QUEUE</h1>
        <h2><strong>Color:</strong> <span id="color"></span></h2>
        <h2><strong>Number of people:</strong> <span id="totalQueueSize"></span></h2>
        <h2><strong>You are:</strong> <span id="userPosition"></span></h2>
        <h2><strong>Estimated time:</strong> <span id="estimatedTime"></span></h2>
        <button id="leave-queue">Leave queue</button>
    </div>
</div>

<script src="../application/queue.js"></script>
</body>
</html>
