<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/report.css">
    <title>Report</title>
</head>
<body>
    <h1>Report to the emergency room</h1>
    <form id="reportForm">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="pesel">Pesel Number</label>
        <input type="pesel" id="pesel" name="pesel">
        <label for="age">Age</label>
        <input type="number" id="age" name="age">
        <label for="numSurgeries">Number of operations</label>
        <input type="number" id="numSurgeries" name="numSurgeries">
        <label for="symptoms">Symptoms</label>
        <textarea id="symptoms" name="symptoms"></textarea>
    </form> 
    <script src="../application/report.js"></script>
</body>
</html>