/* Globalne style */
body {
    background-color: #a9dce4; /* Kolor tła */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Ustawienie zawartości na górze */
    flex-direction: column;
}

/* Przycisk powrotu do strony głównej */
#main {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#main:hover {
    background-color: #fcc4c4;
}

/* Kontener główny */
.profile-container {
    width: 80%;
    max-width: 700px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.7); /* Półprzezroczyste tło */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Układ pionowy */
    align-items: flex-start;
}

/* Nagłówek */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
    margin-top: 10px; 
}

/* Tytuł nagłówka */
header h1 {
    font-size: 32px;
    color: #333;
}

/* Przycisk edytowania profilu */
#edit-profile-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#edit-profile-btn:hover {
    background-color: #fcc4c4;
}

/* Sekcja zdjęcia profilowego */
.picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ustawienie zdjęcia po lewej stronie */
    margin-bottom: 30px;
}

/* Styl zdjęcia */
.profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Przycisk zmiany zdjęcia profilowego */
#change-profile-pic-btn {
    background-color: #ff0000;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#change-profile-pic-btn:hover {
    background-color: #fcc4c4;
}

/* Sekcja danych osobowych */
.profile-section {
    width: 100%;
    margin-bottom: 30px;
}

.profile-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.profile-section p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}





/* Responsywność */
@media (max-width: 480px) {
    .profile-container {
        flex-direction: column; /* Zmiana na układ kolumnowy na małych ekranach */
        width: 95%;
    }

    header h1 {
        font-size: 28px;
    }

    #edit-profile-btn,
    #change-profile-pic-btn {
        font-size: 14px;
        padding: 8px 15px;
    }
}