body {
    background-color: magenta;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;  */
}

.bar {
    display: flex; /* Użycie flexboxa dla łatwego rozmieszczenia elementów */
    justify-content: flex-end; /* Ustawienie wyrównania elementów do prawej strony */
    align-items: center; /* Wyrównanie elementów w pionie (opcjonalnie) */
}

.bar a {
    margin-left: 15px; /* Dodaj odstęp między linkami */
    text-decoration: none; /* Usuwanie podkreślenia z linków */
    color: black; /* Możesz zmienić kolor tekstu */
}
