/* Body */
body {
    background-color: #a9dce4; /* Kolor tła */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Ramka formularza */
#frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); /* Półprzezroczyste tło białe */
    border-radius: 15px; /* Zaokrąglenie rogów */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Cień wokół ramki */
    padding: 40px; 
    width: 90%;
    max-width: 450px;
    margin: 20px;
}
/* Główny przycisk */
#main {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 600;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#main:hover {
    background-color: #fcc4c4;
}

/* Formularz */
#queue-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfcb2;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#leave-queue {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 600;
    margin-top: 80px; /* Odstęp od zawartości ramki */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#leave-queue:hover {
    background-color: #d77373;
    transform: scale(1.05);
}

/* Nagłówki w kontenerze głównym */
#queue-section h1 {
    font-size: 50px;
    font-family: 'Arial Narrow', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 30px;
    width: 100%;
}

#queue-section h2 {
    color: #444;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 30px !important;
    text-align: center;
    margin-top: 30px; /* Odstęp od poprzedniego elementu */
    margin-bottom: 30px; /* Odstęp od następnego elementu */
    padding-bottom: 10px;
    width: 100%;
}

/* Dane użytkownika */
#queue-section p {
    font-size: 35px;
    color: #555;
    margin-top: 40px; /* Odstęp od poprzedniego elementu */
    margin-bottom: 40px; /* Odstęp od następnego elementu */
    margin: 5px 0 15px 0;
}

#queue-section p strong {
    color: #333;
}

/* Responsywność */
@media (max-width: 768px) {
    #queue-section {
        padding: 20px;
        width: 80%; /* Zmniejszenie szerokości na mniejszych ekranach */
    }

    #frame {
        width: 95%; /* Dopasowanie ramki do ekranu */
    }

    #queue-section h1 {
        font-size: 28px;
    }

    #queue-section h2,
    #frame h2 {
        font-size: 20px;
    }

    #queue-section p,
    #frame p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #queue-section {
        width: 95%;
    }

    #frame {
        width: 100%; /* Pełna szerokość ramki */
    }

    #queue-section h1 {
        font-size: 24px;
    }

    #queue-section h2,
    #frame h2 {
        font-size: 18px;
    }

    #queue-section p,
    #frame p {
        font-size: 14px;
    }
}
