/* Styl dla całego ciała strony */
body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#main {
    position: absolute; /* Pozwala na dowolne pozycjonowanie */
    top: 10px; /* Odstęp od górnej krawędzi */
    left: 10px; /* Odstęp od lewej krawędzi */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6278f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Formularz wyśrodkowany */
form {
    display: flex;
    flex-direction: column; /* Ustawia wszystkie elementy w pionowym układzie */
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Stała szerokość formularza */
    margin-bottom: 20px; /* Dodaj odstęp poniżej formularza */
}

/* Style dla etykiet i pól */
label {
    align-self: flex-start; /* Wyrównanie etykiet do lewej */
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%; /* Pola wypełniają całą szerokość formularza */
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Nagłówek formularza */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}
