<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <h1>REGISTER</h1>
    <form method="post" onsubmit="handleFormSubmit(event)">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <label for="pesel">Pesel number:</label>
        <input type="text" id="pesel" name="pesel" required>
        <label for="phone_number">Phone number*<br>
        <input type="tel" id="phone_number" name="phone_number" pattern="^\+?[1-9]{1}[0-9]{0,3}[-]?[0-9]{3}[-]?[0-9]{3}[-]?[0-9]{0,3}$">
        <input type="submit" value="Register" action>
    </form>

<script>

    async function handleFormSubmit(){
        event.preventDefault(); // Zapobiega domyślnemu przesłaniu formularza

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirm_password").value;
        const pesel = document.getElementById("pesel").value;
        const phoneNumber = document.getElementById("phone_number").value;

        if (!validatePassword() || !validatePesel()) {
            return;
        }

        const data = {
            firstName: "John",
            lastName: "Doe",
            email: email,
            password: password,
        };

        try {
            // Wysłanie żądania POST do backendu
            const response = await fetch("http://localhost:8080/api/v1/registration", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });

        // Obsługa odpowiedzi z backendu
        if (response.ok) {
            const result = await response.text(); // Odczytaj token lub wiadomość
            alert(`Registration successful! Token: ${result}`);
        } else {
            const errorMessage = await response.text();
            alert(`Error: ${errorMessage}`);
        }
        } catch (error) {
            alert("An error occurred while processing the request.");
            console.error(error);
        }
    }
    
    document.querySelector("form").addEventListener("submit", handleFormSubmit);

        
    function validatePassword(){
        var password =  document.getElementById("password").value;
        var confirm_password =  document.getElementById("confirm_password").value;

        if(password.length < 8 || password.search(/[a-z]/) < 0 || password.search(/[A-Z]/) < 0 || password.search(/[0-9]/) < 0) { 
            alert("Password requirements:\n- At least 8 characters long.\n- At least one uppercase letter, one lowercase letter, and one number.");
            document.getElementById("password").value="";
            document.getElementById("confirm_password").value="";
            return false;
          
        } else if(password !== confirm_password){
            alert("Error: Passwords do not match, please try again");
            document.getElementById("confirm_password").value="";
            return false;
        }
        return true;
    }

    function validatePesel(){
        var pesel = document.getElementById("pesel").value;

        if(pesel.length!==11 || isNaN(pesel)){
            alert("Error: Pesel must be 11 digits");
            return false;
        }

        var weights = [1, 3, 7, 9, 1, 3, 7, 9, 1, 3];
        var sum = 0;
        for (var i = 0; i < 10; i++) {
            sum += parseInt(pesel.charAt(i)) * weights[i];
        }

        var controlNumber = 10 - (sum % 10);
        if (controlNumber === 10) controlNumber = 0;

        if(controlNumber === parseInt(pesel.charAt(10))){
            return true;
        } else {
            alert("Error: Pesel number is invalid");
            return false;
        }
    }
</script>
</body>
</html>

